n8n-workflow.json
{
    "name": "Cloud Miami Chatbot Workflow (Enhanced)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chatbot",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "chatbot"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body.type }}",
                            "operation": "equals",
                            "value2": "lead_capture"
                        }
                    ]
                }
            },
            "id": "check-type",
            "name": "Check Message Type",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Process lead data for Twenty CRM\nconst lead = $input.first().json.body.lead;\nconst history = $input.first().json.body.history || [];\n\n// Build notes from conversation\nlet notes = `Lead captured from Cloud Miami Chatbot\\n\\n`;\nnotes += `Conversation ID: ${$input.first().json.body.conversationId}\\n`;\nnotes += `Timestamp: ${$input.first().json.body.timestamp}\\n\\n`;\n\nif (lead.interests && lead.interests.length > 0) {\n  notes += `Interests: ${lead.interests.join(', ')}\\n\\n`;\n}\n\nif (lead.conversationSummary) {\n  notes += `Conversation Summary:\\n${lead.conversationSummary}\\n`;\n}\n\nreturn [{\n  json: {\n    name: {\n      firstName: lead.name.split(' ')[0] || lead.name,\n      lastName: lead.name.split(' ').slice(1).join(' ') || ''\n    },\n    emails: {\n      primaryEmail: lead.email\n    },\n    company: {\n      name: lead.website ? new URL(lead.website.startsWith('http') ? lead.website : 'https://' + lead.website).hostname.replace('www.', '') : ''\n    },\n    notes: notes,\n    interests: lead.interests || [],\n    website: lead.website || ''\n  }\n}];"
            },
            "id": "process-lead",
            "name": "Process Lead Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                650,
                150
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://crm.cloudmiami.org/rest/people",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"name\": {\n    \"firstName\": \"{{ $json.name.firstName }}\",\n    \"lastName\": \"{{ $json.name.lastName }}\"\n  },\n  \"emails\": {\n    \"primaryEmail\": \"{{ $json.emails.primaryEmail }}\"\n  }\n}"
            },
            "id": "create-lead",
            "name": "Create Lead in Twenty",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                850,
                150
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "TWENTY_API_KEY",
                    "name": "Twenty API Key"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"status\": \"lead_captured\", \"message\": \"Thank you! We'll be in touch soon.\" } }}"
            },
            "id": "respond-lead",
            "name": "Respond Lead Captured",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                150
            ]
        },
        {
            "parameters": {
                "jsCode": "const history = $input.first().json.body.history || [];\nconst currentMessage = $input.first().json.body.message;\nconst lead = $input.first().json.body.lead;\nconst interests = $input.first().json.body.interests || [];\n\nconst messages = [\n  {\n    role: \"system\",\n    content: `You are Cloud Miami's AI assistant. We offer AI Web Architecture, SEO Content Engines, and AI Video Production.\n\nBe helpful, conversational, and provide detailed answers. Remember the conversation context.\n${lead ? `You are speaking with ${lead.name}.` : ''}\n${interests.length > 0 ? `They have shown interest in: ${interests.join(', ')}.` : ''}\n\nWhen appropriate, encourage them to share their email and project details.`\n  }\n];\n\n// Add conversation history\nfor (const msg of history.slice(-6)) {\n  messages.push({\n    role: msg.type === 'user' ? 'user' : 'assistant',\n    content: msg.content\n  });\n}\n\n// Add current message\nmessages.push({\n  role: \"user\",\n  content: currentMessage\n});\n\nreturn [{\n  json: {\n    model: \"gpt-3.5-turbo\",\n    max_tokens: 300,\n    messages: messages\n  }\n}];"
            },
            "id": "build-messages",
            "name": "Build Messages",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                650,
                450
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBearerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "fields",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "={{ $json.model }}"
                        },
                        {
                            "name": "max_tokens",
                            "value": "={{ $json.max_tokens }}"
                        },
                        {
                            "name": "messages",
                            "value": "={{ $json.messages }}"
                        }
                    ]
                }
            },
            "id": "openai",
            "name": "OpenAI Chat",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                850,
                450
            ],
            "credentials": {
                "httpBearerAuth": {
                    "id": "OPENAI_BEARER_AUTH",
                    "name": "OpenAI Bearer Auth"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"reply\": $json.choices[0].message.content } }}"
            },
            "id": "respond-chat",
            "name": "Respond with AI Message",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                450
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Check Message Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Message Type": {
            "main": [
                [
                    {
                        "node": "Process Lead Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Build Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Lead Data": {
            "main": [
                [
                    {
                        "node": "Create Lead in Twenty",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Lead in Twenty": {
            "main": [
                [
                    {
                        "node": "Respond Lead Captured",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Messages": {
            "main": [
                [
                    {
                        "node": "OpenAI Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat": {
            "main": [
                [
                    {
                        "node": "Respond with AI Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}